<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mantenimiento</title>
</head>
<body>
    <h1> Crear Manteniminto</h1>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ from.as_p}}
        <button type = "submit">Guardar Mantenimiento</button>
    </form>
    <a href="{% url 'lista_mantenimientos'%}" > Volver a lista de lista de Mantenimiento</a>
</body>
</html>